body{
    margin: 0px;
}

div.class1 {
    width: min-content;
    background-color: red;    
}

/* div.class2 {
    width: max-content;
    background-color: green;    
} */

div.class2 {
    width: fit-content;
    background-color: green;    
}
