body{
    margin: 0px;
}

/* attribute selector */

/* a[href]{
    color: red;
} */


/* a[href="https://www.facebook.com/"]{
    color: red;
} */


/* should have "com" anywhere */
/* a[href*="com"]{
    color: red;
} */

/* should start with "http" */
/* a[href^="http"]{
    color: red;
} */

/* should end with "/" */
a[href$="/"]{
    color: red;
}