body{
    margin: 0px;
}

a:hover{
    color: red;
    outline: 3px dotted green;
}

/* psudo */

.class1::after{
    content: ' Techies';
}


li::selection{
    background: black;
    color: white;
}

li::marker{
    color: red;
}